body {
  font-family: sans-serif;
}

/* a,
a:hover {
  text-decoration: inherit;
  color: inherit;
} */

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}

.navbar .navbar-nav .nav-link {
  color: #fff;
  font-size: 1.1em;
}

.navbar .navbar-nav .nav-link:hover {
  color: rgb(0, 10, 65);
}
